{% extends 'base.html.twig' %} 
{% block title %}{{ controller_name }}{% endblock %} 
{% block body %}
<div class="post-wrapper">
    <div class="post">
        <div class="post-img">
        <img class="thumbnail" src="{{asset('assets/images/logo1.png')}}" />
        </div>
        <div class="post-preview">
            <h6 class="post-title">Lorem ipsum dolor</h6>
            <p class="post-intro">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
            <a href="#">Lire la suite</a>
        </div>
    </div>
    <div class="post">
        <div class="post-img">
        <img class="thumbnail" src="{{asset('assets/images/logo1.png')}}" />
        </div>
        <div class="post-preview">
            <h6 class="post-title">Lorem ipsum dolor</h6>
            <p class="post-intro">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
            <a href="#">Lire la suite</a>
        </div>
    </div>
    <div class="post">
        <div class="post-img">
        <img class="thumbnail" src="{{asset('assets/images/logo1.png')}}" />
        </div>
        <div class="post-preview">
            <h6 class="post-title">Lorem ipsum dolor</h6>
            <p class="post-intro">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
            <a href="#">Lire la suite</a>
        </div>
    </div>
    <div class="post">
        <div class="post-img">
        <img class="thumbnail" src="{{asset('assets/images/logo1.png')}}" />
        </div>
        <div class="post-preview">
            <h6 class="post-title">Lorem ipsum dolor</h6>
            <p class="post-intro">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
            <a href="#">Lire la suite</a>
        </div>
    </div>
    <div class="post">
        <div class="post-img">
        <img class="thumbnail" src="{{asset('assets/images/logo1.png')}}" />
        </div>
        <div class="post-preview">
            <h6 class="post-title">Lorem ipsum dolor</h6>
            <p class="post-intro">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
            <a href="#">Lire la suite</a>
        </div>
    </div>
</div>
<div class="band">
    <div class="item-1">
        <a href="#" class="card">
            <div class="thumb" style="background-image: url({{asset('assets/images/logo1.png')}});"></div>
            <article>
                <h1>Lorem ipsum dolor</h1>
                <span>Saïd Boukhris</span>
            </article>
        </a>
    </div>
    <div class="item-3">
        <a href="#" class="card">
            <div class="thumb" style="background-image: url({{asset('assets/images/logo1.png')}});"></div>
            <article>
                <h1>Lorem ipsum dolor</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea corrupti in similique.</p>
                <span>Saïd Boukhris</span>
            </article>
        </a>
    </div>
    <div class="item-2">
        <a href="#" class="card">
            <div class="thumb" style="background-image: url({{asset('assets/images/logo1.png')}});"></div>
            <article>
                <h1>Lorem ipsum dolor</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea corrupti in similique.</p>
                <span>Saïd Boukhris</span>
            </article>
        </a>
    </div>
</div>
{% endblock %}