{% extends 'base.html.twig' %} 
{% block title %}{{ controller_name }} {% endblock %} 
{% block body %}
<!-- Page Content -->
 {{ app.user.email }} : {{ advert |length }} annonces
  <div class="container">
    <div class="row">
      {% for adverts in advert %}
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card-body">
          <div class="text-center">
            <h4 class="card-title">
              <a href="{{ path('users_adverts_show', {'slug': adverts.slug}) }}">{{adverts.title}}</a>
            </h4>
            <h5>Dans la categories {{adverts.categories.name}}</h5>
            <p class="card-text">SLUG :</p>
            <p class="card-text">{{adverts.slug}}</p>
            <p class="card-text">Description :</p>
            <p class="card-text">{{adverts.content |raw}}</p>
            <p class="card-text">Paru le {{ adverts.createdAt ? adverts.createdAt|date('d/m/Y') : '' }}</p>
            <p class="card-text">Modifier le{{ adverts.modifiedAt ? adverts.modifiedAt|date('d/m/Y') : '' }}</p>
            <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>8/10
          </div>
        </div>
      </div>
  {% endfor %}
    </div>
  </div>
  <!-- /.container -->
{% endblock %}