{% extends 'base.html.twig' %} 
{% block title %}{{ controller_name }}{% endblock %} 
{% block body %}
<!-- Page Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="{{asset('assets/images/biere.jpg')}}" alt=""></a>
          <div class="card-body ">
            <h4 class="card-title">
              <a href="{{path("app_exemple")}}">Guinness® Draught</a>
            </h4>
            <h5>3.79€</h5>
            <p class="card-text">

              Arôme : Parfum doux, bouquet de café et de malt
            </p>
            <p class="card-text">
              Saveur : Équilibre parfait entre amertume et douceur, avec des notes maltées et torréfiées
            </p>
            <p class="card-text">
              Palais : Douce, onctueuse et équilibrée
            </p>
            <p class="card-text">
              TAV : 4,2 %
            </p>
            <p class="card-text">
              Aspect : Robe sombre typique, surmontée d’une tête crémeuse et riche
            </p>
            <p class="card-text">
              Houblons : Extrait de houblon isomérisé
            </p>
          </div>
          <div class="card-footer">
            <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="{{asset('assets/images/biere.jpg')}}" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="{{path("app_exemple")}}">Guinness® Draught</a>
            </h4>
            <h5>3.79€</h5>
            <p class="card-text">

              Arôme : Parfum doux, bouquet de café et de malt
            </p>
            <p class="card-text">
              Saveur : Équilibre parfait entre amertume et douceur, avec des notes maltées et torréfiées
            </p>
            <p class="card-text">
              Palais : Douce, onctueuse et équilibrée
            </p>
            <p class="card-text">
              TAV : 4,2 %
            </p>
            <p class="card-text">
              Aspect : Robe sombre typique, surmontée d’une tête crémeuse et riche
            </p>
            <p class="card-text">
              Houblons : Extrait de houblon isomérisé
            </p>
          </div>
          <div class="card-footer">
            <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="{{asset('assets/images/biere.jpg')}}" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="{{path("app_exemple")}}">Guinness® Draught</a>
            </h4>
            <h5>3.79€</h5>
            <p class="card-text">

              Arôme : Parfum doux, bouquet de café et de malt
            </p>
            <p class="card-text">
              Saveur : Équilibre parfait entre amertume et douceur, avec des notes maltées et torréfiées
            </p>
            <p class="card-text">
              Palais : Douce, onctueuse et équilibrée
            </p>
            <p class="card-text">
              TAV : 4,2 %
            </p>
            <p class="card-text">
              Aspect : Robe sombre typique, surmontée d’une tête crémeuse et riche
            </p>
            <p class="card-text">
              Houblons : Extrait de houblon isomérisé
            </p>
          </div>
          <div class="card-footer">
            <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="{{asset('assets/images/biere.jpg')}}" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="{{path("app_exemple")}}">Guinness® Draught</a>
            </h4>
            <h5>3.79€</h5>
            <p class="card-text">

              Arôme : Parfum doux, bouquet de café et de malt
            </p>
            <p class="card-text">
              Saveur : Équilibre parfait entre amertume et douceur, avec des notes maltées et torréfiées
            </p>
            <p class="card-text">
              Palais : Douce, onctueuse et équilibrée
            </p>
            <p class="card-text">
              TAV : 4,2 %
            </p>
            <p class="card-text">
              Aspect : Robe sombre typique, surmontée d’une tête crémeuse et riche
            </p>
            <p class="card-text">
              Houblons : Extrait de houblon isomérisé
            </p>
          </div>
          <div class="card-footer">
            <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="{{asset('assets/images/biere.jpg')}}" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="{{path("app_exemple")}}">Guinness® Draught</a>
            </h4>
            <h5>3.79€</h5>
            <p class="card-text">

              Arôme : Parfum doux, bouquet de café et de malt
            </p>
            <p class="card-text">
              Saveur : Équilibre parfait entre amertume et douceur, avec des notes maltées et torréfiées
            </p>
            <p class="card-text">
              Palais : Douce, onctueuse et équilibrée
            </p>
            <p class="card-text">
              TAV : 4,2 %
            </p>
            <p class="card-text">
              Aspect : Robe sombre typique, surmontée d’une tête crémeuse et riche
            </p>
            <p class="card-text">
              Houblons : Extrait de houblon isomérisé
            </p>
          </div>
          <div class="card-footer">
            <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="{{asset('assets/images/biere.jpg')}}" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="{{path("app_exemple")}}">Guinness® Draught</a>
            </h4>
            <h5>3.79€</h5>
            <p class="card-text">

              Arôme : Parfum doux, bouquet de café et de malt
            </p>
            <p class="card-text">
              Saveur : Équilibre parfait entre amertume et douceur, avec des notes maltées et torréfiées
            </p>
            <p class="card-text">
              Palais : Douce, onctueuse et équilibrée
            </p>
            <p class="card-text">
              TAV : 4,2 %
            </p>
            <p class="card-text">
              Aspect : Robe sombre typique, surmontée d’une tête crémeuse et riche
            </p>
            <p class="card-text">
              Houblons : Extrait de houblon isomérisé
            </p>
          </div>
          <div class="card-footer">
            <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
{% endblock %}